In [1]:
a = [1,2,3,4]
print(a)
print(type(a))

[1, 2, 3, 4]
<class 'list'>

In [2]:
a[0]= 100
print(a)

[100, 2, 3, 4]

In [3]:
a = (1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [4]:
a[0]= 500
print(a)

TypeError: 'tuple' object does not support item assignment

In [5]:
b = ()
print(b)
print(type(b))

()
<class 'tuple'>

In [6]:
a = (1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [7]:
a[1]

2

In [8]:
a[-1]

5

In [9]:
a[0:]

(1, 2, 3, 4, 5)

In [10]:
a[:]

(1, 2, 3, 4, 5)

In [11]:
a[::]

(1, 2, 3, 4, 5)

In [14]:
b = (1,2,2,3,3,4,5)
print(b)

(1, 2, 2, 3, 3, 4, 5)

In [15]:
b.count(2)

2

In [16]:
b.count(1)

1

In [17]:
len(b)

7

In [18]:
min(b)

1

In [19]:
max(b)

5

In [20]:
sum(b)

20

In [21]:
print(b)

(1, 2, 2, 3, 3, 4, 5)

In [23]:
c = (12,1,13,2,3)

In [24]:
print(c)

(12, 1, 13, 2, 3)

In [25]:
print(sorted(c))

[1, 2, 3, 12, 13]

In [26]:
all([True, False])

False

In [27]:
all([True, True])

True

In [28]:
all([False, False])

False

In [29]:
any([True, False])

True

In [30]:
a= (1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [31]:
for i in a:
    print(i)

1
2
3
4
5

In [32]:
for i in enumerate(a):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)